body {
  min-width: 240px;
  background-color: #FFF;
  color: #113;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main a {
  color: #AAA;
}

#heroimg {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 2rem;
}

.gallery {
  box-sizing: border-box;
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
}

.gallery .thumbnail {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 0.1rem;
  border-radius: 2rem;
}

.showcase {
  box-sizing: border-box;
  max-width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showcase .item {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.gallery .thumbnail.text {
  margin: 0;
  background-color: #9a9b9f;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@media screen and (max-width: 720px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}