body {
  background-color: #EEE;
  color: #111;
  margin: 0;
}

header {
  /* background-color: #111;
  color: #EEE; */
  padding: 1rem;
}

main {
  padding: 1rem;
}

footer {
  padding: 1rem;
}

/* section {
  margin: 2rem 0;
} */

a {
  color: #006;
  text-decoration: underline;
}

h2 {
  width: 100%;
  border-bottom: 1px solid #111;
  border-left: 1rem solid #111;
  padding-left: 0.5rem;
}